@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.dark-mode{
    background-color: color.adjust(v.$grisOscuro, $lightness: -10%);

    p{
        color: v.$blanco;
    }

    h1, h2, h3, h4{
        color: v.$gris;
    }

    .anuncio, .resumen-propiedad{
        background-color: v.$grisOscuro;
        border: 1px solid v.$grisOscuro;

        .precio{
            color: v.$verde;
        }
        
        .icono{
            filter: invert(100%);
        }
    }

    .formulario{

        label, legend,p{
            color: v.$gris;
        }
        .input{
            input, textarea, select{
                background-color: v.$grisOscuro;
                border: 1px solid v.$grisOscuro;
                color: v.$blanco;
            }
        }
    }
}